on:
  push:
    branches:
      - next

env:
  CARGO_TERM_COLOR: always

jobs:
  bench:
    name: Update results
    runs-on: self-hosted
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Install Rust
        run: curl https://sh.rustup.rs -sSf | sh -s -- -y
      - name: Build
        run: cargo build --release
      - name: Install GH CLI
        run: |
          curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/githubcli-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
          sudo apt update
          sudo apt install gh -y
      - name: Run benchmarks
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config --global user.name Glydr
          git config --global user.email "${{ secrets.GLYDR_MAIL }}"
          chmod +x bench.sh
          bash bench.sh
